<form [formGroup]="form" (ngSubmit)="login()" class="relative">
  @if (didResetPassword()) {
    <div class="absolute -top-1/3 text-center p-8 bg-green-800 rounded-2xl">
      <ng-icon
        name="lucideX"
        class="text-xl absolute top-2 right-2 cursor-pointer"
        (click)="closeNotification()"
      />
      <span>Email para alteração da senha enviado.</span>
    </div>
  }
  <hlm-field-group>
    <div class="flex flex-col items-center gap-1 text-center">
      <h1 class="text-2xl font-bold">Login to your account</h1>
      <p class="text-muted-foreground text-sm text-balance">
        Enter your email below to login to your account
      </p>
    </div>
    <hlm-field>
      <label hlmFieldLabel for="email">Email</label>
      <input hlmInput type="email" id="email" placeholder="m@example.com" formControlName="email" />
      <hlm-field-error validator="required">Email is required.</hlm-field-error>
      <hlm-field-error validator="email">Enter a valid email address.</hlm-field-error>
    </hlm-field>
    <hlm-field>
      <div class="flex items-center">
        <label hlmFieldLabel for="password">Password</label>
        @if (didResetPassword()) {
          <span hlmFieldDescription class="ml-auto text-sm underline-offset-4 hover:underline">
            <ng-icon name="lucideSend" />
            Email enviado!
          </span>
        } @else {
          <span
            hlmFieldDescription
            class="ml-auto text-sm underline-offset-4 hover:underline cursor-pointer"
            (click)="forgotPassword()"
          >
            Forgot password?
          </span>
        }
      </div>
      <input hlmInput type="password" id="password" formControlName="password" />
      <hlm-field-error validator="required">Password is required.</hlm-field-error>
      <hlm-field-error validator="minlength"
        >Password must be at least 8 characters long.</hlm-field-error
      >
    </hlm-field>
    <hlm-field>
      @if (form.hasError('loginError')) {
        <hlm-field-error forceShow>{{ form.errors?.['loginError'] }}</hlm-field-error>
      }
      <button hlmBtn type="submit" [disabled]="form.invalid">Login</button>
    </hlm-field>
    <hlm-field-separator>Or continue with</hlm-field-separator>
    <hlm-field>
      <button hlmBtn variant="outline" type="button">
        <ng-icon name="remixGithubFill" class="text-xl" />
        Login with Google
      </button>
      <p hlmFieldDescription class="text-center">
        Don't have an account?
        <a [routerLink]="authRoutes.signup">Sign up</a>
      </p>
    </hlm-field>
  </hlm-field-group>
</form>
