{
  "printWidth": 120,
  "tabWidth": 2,
  "bracketSameLine": false,
  "objectWrap": "preserve",
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "parser": "angular"
      }
    }
  ]
}