<form [formGroup]="form" (ngSubmit)="changePassword()">
  <hlm-field-group>
    <div class="flex flex-col items-center gap-1 text-center">
      <h1 class="text-2xl font-bold">Reset password</h1>
    </div>
    <hlm-field>
      <label hlmFieldLabel for="password">Password</label>
      <input hlmInput type="password" id="password" formControlName="password" />
      <hlm-field-error validator="required">Password is required.</hlm-field-error>
      <hlm-field-error validator="minlength"
        >Password must be at least 8 characters long.</hlm-field-error
      >
    </hlm-field>
    <hlm-field>
      <label hlmFieldLabel for="confirmPassword">Confirm Password</label>
      <input hlmInput type="password" id="confirmPassword" formControlName="confirmPassword" />
      @if (
        !(
          form.controls.confirmPassword.touched &&
          (form.controls.confirmPassword.invalid || form.errors?.['passwordMismatch'])
        )
      ) {
        <hlm-field-description>Please confirm your password.</hlm-field-description>
      }
      <hlm-field-error validator="required">Confirming your password is required.</hlm-field-error>
      @if (
        form.errors?.['passwordMismatch'] && !form.controls.confirmPassword.errors?.['required']
      ) {
        <hlm-field-error forceShow>Passwords must match.</hlm-field-error>
      }
    </hlm-field>
    <hlm-field>
      <button hlmBtn type="submit" [disabled]="form.invalid">Confirm</button>
    </hlm-field>
  </hlm-field-group>
</form>
