<h3 class="font-label-sm text-on-surface-variant uppercase tracking-widest block mb-2">
  {{ title() }}
</h3>
<div class="flex flex-wrap gap-4">
  @for (op of options(); track op.value) {
    <label class="relative group cursor-pointer flex-1 min-w-35" (click)="updateOption(op.value)">
      <div
        class="py-2 px-6 rounded-md border-2 border-outline-variant/30 text-center transition-all"
        [ngClass]="{
          'border-primary text-primary bg-primary/10': op.value == selectedOption(),
          'border-gray-700 hover:border-gray-500': op.value != selectedOption(),
        }"
      >
        <span class="text-body-md font-bold uppercase tracking-wider">{{ op.label }}</span>
      </div>
    </label>
  }
</div>
