<div class="flex items-center justify-between gap-4 mb-8">
  <h2 class="font-headline-lg flex items-center gap-4">
    <span class="w-2 h-8 bg-primary"></span>
    Catálogos de jogos
  </h2>
  <div>
    <a
      class="w-full py-3 bg-primary text-black font-black uppercase text-xs tracking-tighter active:scale-95 duration-200 flex items-center justify-center gap-2 cursor-pointer px-4"
      routerLink="./new"
    >
      Adicionar jogo
    </a>
  </div>
</div>

<div class="max-w-4xl mx-auto mb-16">
  <div>
    <label for="search-games" class="sr-only">Buscar jogos</label>
    <div class="relative">
      <ng-icon
        name="lucideSearch"
        class="text-xl position-absolute translate-y-9 translate-x-3 text-slate-400"
      />
      <input
        id="search-games"
        type="text"
        placeholder="Buscar jogos..."
        class="w-full border border-primary bg-zinc-900 px-4 py-2 pl-11 text-amber-50 placeholder:text-slate-400 focus:border-primary focus:outline-none focus:ring-2 focus:ring-primary"
      />
    </div>
  </div>
</div>
<div class="mx-auto grid grid-cols-3 sm:grid-cols-1 lg:grid-cols-4 gap-6 mb-16">
  @if (gameStore.loading()) {
    <p class="col-span-4 text-center text-slate-400">Carregando...</p>
  } @else if (gameStore.error()) {
    <p class="col-span-4 text-center text-red-500">
      Ocorreu um erro ao carregar os jogos.
    </p>
  } @else if (gameStore.games().length == 0) {
    <p class="col-span-4 text-center text-slate-400">Nenhum jogo cadastrado</p>
  } @else {
    @for (game of gameStore.games(); track game) {
      <a [routerLink]="`/player/games/${game.id}`">
        <div
          class="bg-zinc-900 overflow-hidden border border-zinc-800 transition-all duration-300 hover:shadow-(--shadow-primary-hover) cursor-pointer"
        >
          <div class="relative">
            <div
              class="absolute bottom-0 left-0 right-0 h-1/2 bg-linear-to-t from-black/80 to-transparent"
            ></div>

            <img
              [alt]="game.name + ' cover'"
              src="{{ game.cover }}"
              class="w-full h-50 object-cover"
              (error)="updateToFallback($event)"
            />
            <div
              class="p-4 flex flex-row flex-wrap gap-2 absolute bottom-0 left-0"
            >
              @for (genre of game.genres; track genre) {
                <span
                  class="border py-1 px-2 rounded-sm text-xs bg-primary/20 border-none text-primary"
                  >{{ genre }}</span
                >
              }
            </div>
          </div>
          <div class="p-4">
            <h3 class="font-headline-md text-amber-50 mb-2">
              {{ game.name }}
            </h3>
          </div>
        </div>
      </a>
    }
  }
</div>
