<header class="mb-8">
  <h2 class="font-headline-lg flex items-center gap-4">
    <span class="w-2 h-8 bg-primary"></span>
    Novo desafio
  </h2>
</header>
<form class="grid gap-8">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <div class="group flex flex-col justify-between">
      <label class="uppercase tracking-widest block">Selecionar Jogo</label>
      <hlm-autocomplete [(search)]="search" [itemToString]="itemToString">
        <hlm-autocomplete-input placeholder="Pesquise games" />
        <hlm-autocomplete-content *hlmAutocompletePortal>
          <hlm-autocomplete-status class="justify-start bg-background text-foreground">
            @if (options.error(); as error) {
              {{ error }}
            } @else if (options.isLoading()) {
              <ng-icon name="lucideLoader" />
              Loading...
            } @else if (search().length === 0) {
              Digite para pesquisar por games.
            } @else if (options.hasValue() && options.value().length === 0) {
              Game "{{ search() }}" não existe
            } @else if (options.hasValue()) {
              {{ options.value().length }} jogos encontrados
            }
          </hlm-autocomplete-status>

          <div hlmAutocompleteList class="bg-background text-foreground">
            @if (options.hasValue()) {
              @for (option of options.value(); track $index) {
                <hlm-autocomplete-item [value]="option">
                  <div class="flex flex-col gap-1">
                    <p>{{ option.title }}</p>
                    <p class="text-muted-foreground text-xs">{{ option.year }}</p>
                  </div>
                </hlm-autocomplete-item>
              }
            }
          </div>
        </hlm-autocomplete-content>
      </hlm-autocomplete>
    </div>
    <div>
      <label class="uppercase tracking-widest block"> Nome do Desafio </label>
      <div class="relative">
        <ng-icon
          name="lucideSwords"
          class="text-xl position-absolute translate-y-10 translate-x-4 text-primary"
        />
        <input
          class="w-full bg-transparent border border-gray-700 rounded-md py-3 px-6 pl-13 text-on-surface hover:border-gray-400 focus:neon-border outline-none"
          placeholder="Ex: Corrida Contra o Tempo"
          type="text"
        />
      </div>
    </div>
  </div>
  <app-selector-grid title="Tipo de Desafio" name="type" [options]="challengueTypes" />
  <app-selector-grid-simple title="Plataforma" name="platform" [options]="platforms" />
  <div class="group">
    <h3 class="font-label-sm text-on-surface-variant uppercase tracking-widest block mb-2">
      Notas
    </h3>
    <textarea
      class="w-full bg-transparent p-4 resize-none border-2 outline-none border-gray-700 rounded-md hover:border-gray-500 focus:neon-border"
      name="notes"
      placeholder="Descreva os detalhes do seu desafio aqui... Metas, prazos ou regras personalizadas."
      rows="6"
    ></textarea>
  </div>
  <div class="pt-lg flex items-center justify-end">
    <button
      class="py-3 px-6 bg-primary text-black font-black uppercase text-xs tracking-tighter mb-8 active:scale-95 duration-200 flex items-center justify-center gap-2 cursor-pointer"
      type="submit"
    >
      <span class="">LANÇAR DESAFIO</span>
      <ng-icon name="lucideRocket" class="text-xl" />
    </button>
  </div>
</form>
