<div class="mx-auto">
  <!-- Header Section -->
  <header class="mb-8">
    <h2 class="font-headline-lg flex items-center gap-4">
      <span class="w-2 h-8 bg-primary"></span>
      {{ formTitle() }}
    </h2>
  </header>
  <form
    [formGroup]="form()"
    (ngSubmit)="onSubmit.emit()"
    class="space-y-gutter"
  >
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-gutter">
      <div class="lg:col-span-8 space-y-md">
        <div class="space-y-xs">
          <label
            class="font-label-sm text-label-sm uppercase tracking-widest block mb-2"
            for="name"
            >Game Name</label
          >
          <div class="relative group">
            <input
              id="name"
              formControlName="name"
              class="w-full bg-transparent border border-gray-700 rounded-md py-3 px-6 hover:border-gray-400 focus:neon-border outline-none placeholder:text-gray-400"
              placeholder="e.g. Neon Horizon"
              type="text"
            />
            <ng-icon
              name="lucideText"
              class="material-symbols-outlined absolute right-4 top-1/2 -translate-y-1/2 text-zinc-600 group-focus-within:text-cyan-400"
            />
          </div>
          @if (form().get('name')?.touched) {
            @if (form().get('name')?.hasError('required')) {
              <span class="text-sm text-red-500"
                >Nome do jogo é obrigatório.</span
              >
            }
          }
        </div>
        <div class="flex flex-col justify-between space-y-xs">
          <label class="uppercase tracking-widest block mb-2"
            >Desenvolvedor</label
          >
          <hlm-autocomplete-search
            id="developer"
            [(search)]="developerSearch"
            [(value)]="selectedDeveloper"
          >
            <hlm-autocomplete-input placeholder="Pesquise desenvolvedores" />
            <hlm-autocomplete-content *hlmAutocompletePortal>
              <hlm-autocomplete-status
                class="justify-start bg-background text-foreground"
              >
                @if (developerOptions.error(); as error) {
                  {{ error }}
                } @else if (developerOptions.isLoading()) {
                  <ng-icon name="lucideLoader" />
                  Loading...
                } @else if (developerSearch().length === 0) {
                  Digite para pesquisar por desenvolvedores.
                } @else if (
                  developerOptions.hasValue() &&
                  developerOptions.value().length === 0
                ) {
                  Desenvolvedor "{{ developerSearch() }}" não existe
                } @else if (developerOptions.hasValue()) {
                  {{ developerOptions.value().length }} desenvolvedores
                  encontrados
                }
              </hlm-autocomplete-status>

              <div hlmAutocompleteList class="bg-background text-foreground">
                @if (developerOptions.hasValue()) {
                  @for (option of developerOptions.value(); track $index) {
                    <hlm-autocomplete-item [value]="option">
                      <div class="flex flex-col gap-1">
                        <p>{{ option }}</p>
                      </div>
                    </hlm-autocomplete-item>
                  }
                }
              </div>
            </hlm-autocomplete-content>
          </hlm-autocomplete-search>
          @if (form().get('developer')?.touched) {
            @if (form().get('developer')?.hasError('required')) {
              <span class="text-sm text-red-500"
                >Desenvolvedor do jogo é obrigatório.</span
              >
            }
          }
        </div>
        <div class="grid grid-cols-2 gap-gutter">
          <div class="space-y-xs">
            <label
              class="font-label-sm text-label-sm uppercase tracking-widest block mb-2"
              >Ano de lançamento</label
            >
            <input
              class="w-full bg-transparent border border-gray-700 rounded-md py-3 px-6 hover:border-gray-400 focus:neon-border outline-none placeholder:text-gray-400"
              placeholder="01/01/2024"
              id="releaseYear"
              formControlName="releaseDate"
              type="date"
            />
            @if (form().get('releaseDate')?.touched) {
              @if (form().get('releaseDate')?.hasError('required')) {
                <span class="text-sm text-red-500"
                  >O ano de lançamento do jogo é obrigatório.</span
                >
              }
              @if (form().get('releaseDate')?.hasError('min')) {
                <span class="text-sm text-red-500"
                  >O ano de lançamento deve ser maior que 1954.</span
                >
              }
              @if (form().get('releaseDate')?.hasError('max')) {
                <span class="text-sm text-red-500"
                  >O ano de lançamento deve ser até o ano atual.</span
                >
              }
            }
          </div>
        </div>
        <div id="genres" class="space-y-sm">
          <app-game-tags-input
            [initialGenres]="selectedGenres()"
            (onToggleGenres)="toggleGenres($event)"
          />
          @if (form().get('genres')?.touched) {
            @if (form().get('genres')?.hasError('required')) {
              <span class="text-sm text-red-500"
                >Escolha pelo menos um gênero para o jogo.</span
              >
            }
          }
        </div>
      </div>
      <div class="lg:col-span-4 space-y-md">
        <app-game-cover-input
          [initialCover]="cover()"
          (onCoverSelected)="selectCover($event)"
        />
        @if (
          form().get('cover')?.touched &&
          form().get('cover')?.hasError('required')
        ) {
          <p class="text-sm text-red-500 mt-2">Arte da capa é obrigatória.</p>
        }
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <button
        class="py-3 px-6 bg-background text-black font-black uppercase text-xs tracking-tighter mb-8 active:scale-95 duration-200 flex items-center justify-center gap-2 cursor-pointer border border-gray-700 hover:border-gray-400"
        type="button"
        [routerLink]="['/player/catalog']"
      >
        <span class="text-gray-700 hover:text-gray-400">Cancelar</span>
      </button>
      <button
        class="py-3 px-6 bg-primary text-black font-black uppercase text-xs tracking-tighter mb-8 active:scale-95 duration-200 flex items-center justify-center gap-2 cursor-pointer hover:neon-border"
        type="submit"
      >
        <span class="">{{ submitButtonLabel() }}</span>
        <ng-icon name="lucideCheck" class="text-xl" />
      </button>
    </div>
  </form>
</div>
