<div class="mx-auto">
  <!-- Header Section -->
  <header class="mb-8">
    <h2 class="font-headline-lg flex items-center gap-4">
      <span class="w-2 h-8 bg-primary"></span>
      Adicionar jogo
    </h2>
  </header>
  <form [formGroup]="form" (ngSubmit)="submit()" class="space-y-gutter">
    <div class="grid grid-cols-1 lg:grid-cols-12 gap-gutter">
      <div class="lg:col-span-8 space-y-md">
        <div class="space-y-xs">
          <label class="font-label-sm text-label-sm uppercase tracking-widest block mb-2" for="name">Game Name</label>
          <div class="relative group">
            <input
              id="name"
              formControlName="name"
              class="w-full bg-transparent border border-gray-700 rounded-md py-3 px-6 hover:border-gray-400 focus:neon-border outline-none placeholder:text-gray-400"
              placeholder="e.g. Neon Horizon"
              type="text"
            />
            <ng-icon
              name="lucideText"
              class="material-symbols-outlined absolute right-4 top-1/2 -translate-y-1/2 text-zinc-600 group-focus-within:text-cyan-400"
            />
          </div>
          @if (form.get('name')?.touched) {
            @if (form.get('name')?.hasError('required')) {
              <span class="text-sm text-red-500">Nome do jogo é obrigatório.</span>
            }
          }
        </div>
        <div class="flex flex-col justify-between space-y-xs">
          <label class="uppercase tracking-widest block mb-2">Desenvolvedor</label>
          <hlm-autocomplete-search
            id="developer"
            [(search)]="developerSearch"
            [itemToString]="itemToString"
            [(value)]="selectedDeveloper"
          >
            <hlm-autocomplete-input placeholder="Pesquise desenvolvedores" />
            <hlm-autocomplete-content *hlmAutocompletePortal>
              <hlm-autocomplete-status class="justify-start bg-background text-foreground">
                @if (developerOptions.error(); as error) {
                  {{ error }}
                } @else if (developerOptions.isLoading()) {
                  <ng-icon name="lucideLoader" />
                  Loading...
                } @else if (developerSearch().length === 0) {
                  Digite para pesquisar por desenvolvedores.
                } @else if (developerOptions.hasValue() && developerOptions.value().length === 0) {
                  Desenvolvedor "{{ developerSearch() }}" não existe
                } @else if (developerOptions.hasValue()) {
                  {{ developerOptions.value().length }} desenvolvedores encontrados
                }
              </hlm-autocomplete-status>

              <div hlmAutocompleteList class="bg-background text-foreground">
                @if (developerOptions.hasValue()) {
                  @for (option of developerOptions.value(); track $index) {
                    <hlm-autocomplete-item [value]="option">
                      <div class="flex flex-col gap-1">
                        <p>{{ option.name }}</p>
                      </div>
                    </hlm-autocomplete-item>
                  }
                }
              </div>
            </hlm-autocomplete-content>
          </hlm-autocomplete-search>
          @if (form.get('developer')?.touched) {
            @if (form.get('developer')?.hasError('required')) {
              <span class="text-sm text-red-500">Desenvolvedor do jogo é obrigatório.</span>
            }
          }
        </div>
        <div class="grid grid-cols-2 gap-gutter">
          <div class="space-y-xs">
            <label class="font-label-sm text-label-sm uppercase tracking-widest block mb-2">Ano de lançamento</label>
            <input
              class="w-full bg-transparent border border-gray-700 rounded-md py-3 px-6 hover:border-gray-400 focus:neon-border outline-none placeholder:text-gray-400"
              placeholder="2024"
              id="releaseYear"
              formControlName="releaseYear"
              type="number"
            />
            @if (form.get('releaseYear')?.touched) {
              @if (form.get('releaseYear')?.hasError('required')) {
                <span class="text-sm text-red-500">O ano de lançamento do jogo é obrigatório.</span>
              }
              @if (form.get('releaseYear')?.hasError('min')) {
                <span class="text-sm text-red-500">O ano de lançamento deve ser maior que 1954.</span>
              }
              @if (form.get('releaseYear')?.hasError('max')) {
                <span class="text-sm text-red-500">O ano de lançamento deve ser até o ano atual.</span>
              }
            }
          </div>
        </div>
        <div id="genres" class="space-y-sm">
          <label class="font-label-sm text-label-sm uppercase tracking-widest block mb-2">
            Genre &amp; Classifications &amp; Tags
          </label>
          <div class="flex flex-wrap gap-base">
            @for (genre of genres; track $index) {
              <button
                class="border py-1 px-2 rounded-sm text-sm border-gray-700 hover:border-gray-400 cursor-pointer"
                [ngClass]="{ 'bg-primary/20 text-primary hover:border-primary': isGenreSelected(genre) }"
                (click)="toggleGenre(genre)"
                type="button"
              >
                {{ genre }}
              </button>
            }
            <button
              class="px-4 py-1 rounded-full border border-outline-variant border-dashed flex items-center gap-2 text-zinc-500 hover:text-cyan-400 hover:border-cyan-400 transition-all text-sm"
              type="button"
            >
              <ng-icon name="lucidePlusCircle" />
              <span class="font-stats-md text-stats-md">Add Tag</span>
            </button>
          </div>
          @if (form.get('genres')?.touched) {
            @if (form.get('genres')?.hasError('required')) {
              <span class="text-sm text-red-500">Escolha pelo menos um gênero para o jogo.</span>
            }
          }
        </div>
      </div>
      <div class="lg:col-span-4 space-y-md">
        <label class="font-label-sm text-label-sm uppercase tracking-widest block mb-2">Arte de Capa</label>
        <div class="relative group">
          <div
            class="aspect-3/4 w-full bg-surface-container border-2 border-dashed border-outline-variant rounded-xl flex flex-col items-center justify-center p-lg group-hover:border-cyan-400 transition-all bg-cover bg-center overflow-hidden"
            data-alt="vibrant neon cinematic game cover art featuring a futuristic racing car speeding through a rainy cyberpunk city at night with blue and magenta trails"
            [style]="{
              backgroundImage: `linear-gradient(rgba(19, 19, 22, 0.8), rgba(19, 19, 22, 0.8)), url(${coverPreview()})`,
            }"
          >
            <div class="z-10 flex flex-col items-center text-center">
              <div
                class="w-16 h-16 rounded-full bg-surface-container-high border border-zinc-700 flex items-center justify-center mb-md group-hover:scale-110 group-hover:border-cyan-400 transition-all"
              >
                <ng-icon name="lucideImage" class="text-2xl text-zinc-700 group-hover:text-cyan-400 transition-all" />
              </div>
              <p class="text-on-surface-variant text-xs">High-res vertical poster (minimum 1200x1600px)</p>
              <input
                id="cover"
                #coverInput
                style="display: none"
                type="file"
                accept="image/*"
                (change)="onCoverChange($event)"
              />
              <button
                class="mt-md px-6 py-2 bg-zinc-800 hover:bg-zinc-700 text-on-background rounded-full font-stats-md text-stats-md transition-all"
                type="button"
                (click)="coverInput.click()"
              >
                Select File
              </button>
            </div>
          </div>
          @if (coverError()) {
            <p class="text-sm text-red-500 mt-2">{{ coverError() }}</p>
          }
        </div>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8">
      <button
        class="py-3 px-6 bg-background text-black font-black uppercase text-xs tracking-tighter mb-8 active:scale-95 duration-200 flex items-center justify-center gap-2 cursor-pointer border border-gray-700 hover:border-gray-400"
      >
        <span class="text-gray-700 hover:text-gray-400">Cancelar</span>
      </button>
      <button
        class="py-3 px-6 bg-primary text-black font-black uppercase text-xs tracking-tighter mb-8 active:scale-95 duration-200 flex items-center justify-center gap-2 cursor-pointer hover:neon-border"
        type="submit"
      >
        <span class="">Concluir</span>
        <ng-icon name="lucideCheck" class="text-xl" />
      </button>
    </div>
  </form>
</div>
